@model ChalupaHaj.Models.Form


<!--Contact us form-->
<form asp-action="Create" class="contact-form green">


    <!--validation summary-->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <!--Input field Name-->
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <!--Input field Surname-->
    <div class="form-group">
        <label asp-for="Surname" class="control-label"></label>
        <input asp-for="Surname" class="form-control">
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>


    <!--Input field email-->
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>


    <!--Input field phone-->
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>


    <!--Input field message-->
    <div class="form-group">
        <label asp-for="Message" class="control-label"></label>
        <input asp-for="Message" class="form-control">
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <!--Send button-->
    <div class="greyBox">
        <input type="submit" value="Odeslat" class="btn btn-primary">
    </div>

</form>


