.main {
    width: 100%;
    font-family: $font;

    .greyBox {
        @include createGreyBox();
        transition: all .5s;

        &:hover {
            background-color: $grey-box-hover-color;
        }
    }

    img {
        width: $img-width;
        height: auto;
        margin: $element-spacing auto;
        display: block;
        border-radius: $img-border-radius;
    }

    .greenBox {
        @include createGreenBox();
        margin-bottom: $element-spacing;
    }
}


.news {
    font-family: $font;

    .greyBox {
        @include createGreyBox();
        transition: none;

        &:hover {
            background-color: black;
        }
    }


    .news-container {
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        .box {
            @include createNewsBox();
            width: 80%;
            max-width: 18rem;
            margin: 0 2rem 3rem 2rem;

            h3,
            p {
                padding: $news-box-text-spacing 0;
            }

            hr {
                width: 15%;
                border-bottom: 2px solid white;
            }
        }
    }
}


.galery {
    .greyBox {
        @include createGreyBox();
        transition: all .5s;

        &:hover {
            background-color: $grey-box-hover-color;
        }
    }


    img {
        max-width: $galery-img-width;
        width: auto;
        height: auto;
        margin: 3rem auto;
        display: block;
        border-radius: $img-border-radius;
        object-fit: cover;
    }
}


.content {
    font-family: $font;

    .greyBox {
        @include createGreyBox();
        transition: all .5s;

        &:hover {
            background-color: $grey-box-hover-color;
        }
    }

    .contact-form {
        position: relative;
        width: 80%;
        max-width: 40rem;
        margin: 3rem auto 0 auto;
        padding: 1rem 1rem;
        background: $form-background;
        border-radius: 50px;
        text-align: center;

        .form-group {
            background: white;
            margin: 2rem 1rem;
            padding: 1rem 1rem;
            border-radius: 20px;

            label {
                display: block;
                text-align: left;
                color: #333;
                text-transform: uppercase;
                font-size: 14px;
            }

            input,
            textarea {
                font-family: $font;
                color: rgb(94, 94, 94);
                width: 100%;
                border: none;
                background: none;
                outline: none;
                font-size: .9rem;
                margin-top: 6px;
            }
        }

        .greyBox {
            position: relative;
            width: 100%;
            background-color: $color-grey;

            &:hover {
                background-color: $grey-box-hover-color;
            }

            .btn {
                background: $color-grey;
                font-family: $font;
                font-size: 1.5rem;
                width: 100%;
                height: 100%;
                display: inline-block;
                border: none;
                border-radius: 50px;
                color: $form-background-text-area;
                text-transform: uppercase;
                cursor: pointer;
                transition: all .5s;
            }
        }
    }

    #map {
        z-index: 1;
        width: 80%;
        max-width: 80rem;
        height: 20rem;
        position: relative;
        margin: 3rem auto;
        border-radius: 60px;
        //box-shadow: 0 0 20px #000000b3;
    }
}
