@using ChalupaHaj.Models
@inject LanguageService language

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = @language.GetKey("title-galerie");
}

<div class="content-galerie">


    <div class="greyBox">
        <h2>@language.GetKey("galerie-Exterier")</h2>
    </div>


    <section class="interier-container">
        <section class="slideshow">
            <div class="slideshow-inner">
                <div class="slides">


                    <!--EXTERIOR - IMAGE 1-->
                    <div class="slide is-active ">
                        <div class="slide-content">
                            <div class="caption">
                                <div class="title"></div>
                                <div class="text">
                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <div class="image-container">
                            <img src="~/images/exterier/chalupa1.jpg" alt="" class="image" />
                        </div>

                    </div>


                    <!--EXTERIOR - IMAGE 2-->
                    <div class="slide">
                        <div class="slide-content">
                            <div class="caption">
                                <div class="title"></div>
                                <div class="text">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="image-container">
                            <img src="/images/exterier/06.jpg" alt="" class="image" />
                        </div>
                    </div>


                    <!--EXTERIOR - IMAGE 3-->
                    <div class="slide">
                        <div class="slide-content">
                            <div class="caption">
                                <div class="title"></div>
                                <div class="text">
                                    <p></p>
                                </div>

                            </div>
                        </div>
                        <div class="image-container">
                            <img src="/images/exterier/07.jpg" alt="" class="image" />
                        </div>
                    </div>


                    <!--EXTERIOR - IMAGE 4-->
                    <div class="slide">
                        <div class="slide-content">
                            <div class="caption">
                                <div class="title"></div>
                                <div class="text">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="image-container">
                            <img src="/images/exterier/02.jpg" alt="" class="image" />
                        </div>
                    </div>
                </div>
                <div class="pagination">


                    <!--SELECTABLE IMAGE PADS-->
                    <div class="item is-active">
                        <span class="icon">1</span>
                    </div>
                    <div class="item">
                        <span class="icon">2</span>
                    </div>
                    <div class="item">
                        <span class="icon">3</span>
                    </div>
                    <div class="item">
                        <span class="icon">4</span>
                    </div>
                </div>

                <div class="arrows">
                    <div class="arrow prev">
                        <span class="svg svg-arrow-left">
                            <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z" /> </svg>
                            <span class="alt sr-only"></span>
                        </span>
                    </div>
                    <div class="arrow next">
                        <span class="svg svg-arrow-right">
                            <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z" /> </svg>
                            <span class="alt sr-only"></span>
                        </span>
                    </div>
                </div>

            </div>
        </section>
    </section>

    <!-------------------------------------------------------------------------------------------------------------------->


    <div class="greyBox">
        <h2>@language.GetKey("galerie-Interier")</h2>
    </div>


    <section class="interier-container">
        <section class="slideshow">
            <div class="slideshow-inner">
                <div class="slides">


                    <!--IMAGE 1-->
                    <div class="slide is-active ">
                        <div class="slide-content">
                            <div class="caption">
                                <div class="title"></div>
                                <div class="text">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="image-container">
                            <img src="~/images/interier/09.jpeg" alt="" class="image" />
                        </div>
                    </div>


                    <!--IMAGE 2-->
                    <div class="slide">
                        <div class="slide-content">
                            <div class="caption">
                                <div class="title"></div>
                                <div class="text">
                                    <p></p>
                                </div>

                            </div>
                        </div>
                        <div class="image-container">
                            <img src="~/images/interier/08.jpeg" alt="" class="image" />
                        </div>
                    </div>


                    <!--IMAGE 3-->
                    <div class="slide">
                        <div class="slide-content">
                            <div class="caption">
                                <div class="title"></div>
                                <div class="text">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="image-container">
                            <img src="~/images/interier/01.jpeg" alt="" class="image" />
                        </div>
                    </div>


                    <!--IMAGE 4-->
                    <div class="slide">
                        <div class="slide-content">
                            <div class="caption">
                                <div class="title"></div>
                                <div class="text">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="image-container">
                            <img src="~/images/interier/03.jpeg" alt="" class="image" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="pagination">
                <div class="item is-active">
                    <span class="icon">1</span>
                </div>
                <div class="item">
                    <span class="icon">2</span>
                </div>
                <div class="item">
                    <span class="icon">3</span>
                </div>
                <div class="item">
                    <span class="icon">4</span>
                </div>
            </div>


            <div class="arrows">
                <div class="arrow prev">
                    <span class="svg svg-arrow-left">
                        <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z" /> </svg>
                        <span class="alt sr-only"></span>
                    </span>
                </div>
                <div class="arrow next">
                    <span class="svg svg-arrow-right">
                        <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z" /> </svg>
                        <span class="alt sr-only"></span>
                    </span>
                </div>
            </div>
        </section>
    </section>
</div>