@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
q,
blockquote,
a,
p,
u,
em,
i,
b,
strong,
img,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
}

.content {
  width: 100%;
  padding-top: 12rem;
}

/* Code for Firefox */
::-moz-selection {
  color: white;
  background: #3bbc26;
}

::selection {
  color: white;
  background: #3bbc26;
}

footer {
  background: #454545;
  font-family: "Open Sans", sans-serif, serif;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}
footer .footer-container {
  padding: 3rem;
}
footer a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
  line-height: 2.5rem;
  transition: 0.5s;
}
footer a:first-of-type {
  margin-top: 2rem;
}
footer a:hover {
  color: #575757;
  transition: 0.5s;
}
footer h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}
footer span {
  letter-spacing: 0.2rem;
}
footer address {
  font-style: normal;
  margin-top: 2rem;
  line-height: 2.5rem;
  font-size: 1.3rem;
}
footer article {
  padding: 2rem 0;
}
footer span {
  letter-spacing: 0;
}
footer .social-container ul {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
footer .social-container li {
  list-style: none;
}
footer .social-container li:nth-child(1) a:before {
  background: #3b5999;
}
footer .social-container li:nth-child(2) a:before {
  background: #55acee;
}
footer .social-container li:nth-child(3) a:before {
  background: #0077b5;
}
footer .social-container li:nth-child(4) a:before {
  background: #dd4b39;
}
footer .social-container a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 2rem;
  margin: 0 0.5rem;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}
footer .social-container a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
footer .social-container a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
footer .social-container a:hover:before {
  top: 0;
}
footer .social-container .icon {
  font-size: 20px;
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
footer .copy {
  width: 20%;
  margin: 0 auto;
}

header {
  width: 100%;
  z-index: 8000;
  font-family: "Open Sans", sans-serif, serif;
  position: fixed;
  top: 0;
}
header .innerHeaderTop {
  width: 100%;
  background: #454545;
  text-align: center;
  position: relative;
  top: 0;
}
header .innerHeaderTop a {
  display: block;
  text-decoration: none;
  color: white;
}
header .innerHeaderTop img {
  margin-right: 0.3rem;
  width: auto;
  height: 1.5rem;
  vertical-align: text-bottom;
}
header .innerHeaderTop .lang-img {
  display: none;
}
header .innerHeaderBottomContainer {
  width: 100%;
  max-width: 400px;
  position: relative;
  margin: 0 auto;
}
header .innerHeaderBottom {
  width: 100%;
  margin-bottom: 3rem;
  position: relative;
  border-bottom: 0.5px solid #454545;
  background-color: #3bbc26;
  border-radius: 0.5px solid #454545;
}
header .innerHeaderBottom .menu-btn {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
header .innerHeaderBottom .menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
header .innerHeaderBottom .menu-btn__burger::before, header .innerHeaderBottom .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
header .innerHeaderBottom .menu-btn__burger::before {
  transform: translateY(-16px);
}
header .innerHeaderBottom .menu-btn__burger::after {
  transform: translateY(16px);
}
header .innerHeaderBottom .menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
header .innerHeaderBottom .menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
header .innerHeaderBottom .menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
header .innerHeaderBottom #check {
  display: none;
}
header .innerHeaderBottom #check:checked ~ nav ul {
  left: 0;
}
header .innerHeaderBottom h1 {
  line-height: 6rem;
  padding: 0 0 0 1rem;
  font-size: 2.3rem;
  font-weight: bold;
  color: white;
}
header .innerHeaderBottom nav {
  width: 100%;
}
header .innerHeaderBottom ul {
  width: 100%;
  height: 100vh;
  top: 9rem;
  position: fixed;
  background: #206815;
  left: -100%;
  text-align: center;
  transition: all 0.5s;
}
header .innerHeaderBottom li {
  margin: 1.5rem auto;
  padding: 0.5rem 1rem;
}
header .innerHeaderBottom img {
  height: 3rem;
  margin: 0 0.5rem 0 0.5rem;
}
header .innerHeaderBottom img:hover {
  opacity: 0.5;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  header .innerHeaderBottom .active {
    padding: 0.7rem 0.7rem;
    border-radius: 15px;
    background: #3bbc26;
    transition: 0.5s;
  }
}
header .innerHeaderBottom a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
@media (max-width: 1200px) {
  header .innerHeaderBottom a:hover {
    padding: 0.7rem 0.7rem;
    border-radius: 15px;
    background: #3bbc26;
    transition: 0.5s;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  header .innerHeaderTop a {
    display: inline;
  }
  header .innerHeaderTop a:last-child {
    margin-left: 1rem;
  }
  header .innerHeaderBottom ul {
    top: 7.55rem;
  }
  header .innerHeaderBottomContainer {
    width: 100%;
    max-width: 80%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  header .innerHeaderTop a {
    display: inline;
  }
  header .innerHeaderTop a:last-child {
    margin-left: 1rem;
  }
  header .innerHeaderBottom ul {
    top: 7.55rem;
  }
  header .innerHeaderBottomContainer {
    width: 100%;
    max-width: 80%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  header .innerHeaderTop a {
    display: inline;
  }
  header .innerHeaderBottom ul {
    top: 7.55rem;
  }
  header .innerHeaderBottomContainer {
    width: 100%;
    max-width: 80%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  header {
    position: relative;
  }
  header .innerHeaderTop {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 3rem;
  }
  header .innerHeaderTop a {
    transition: 0.5s;
    display: inline;
  }
  header .innerHeaderTop a:hover {
    transition: 0.5s;
    color: #acacac;
  }
  header .innerHeaderTop a img:last-child {
    margin-left: 1rem;
  }
  header .innerHeaderTop .innerHeaderTopTxt {
    position: absolute;
    top: 0.7rem;
    left: 0;
  }
  header .innerHeaderTop .lang-img {
    display: inline-block;
    width: auto;
    height: 3em;
    transition: 0.5s;
    cursor: pointer;
  }
  header .innerHeaderTop .lang-img:nth-child(2) {
    margin: 0 1rem;
  }
  header .innerHeaderTop .lang-img:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
  header .innerHeaderTop .lang-img-container {
    position: absolute;
    top: 0;
    right: 0;
  }
  header .innerHeaderBottomContainer {
    max-width: 1000px;
  }
  header .innerHeaderBottom {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 0;
    border-radius: 0 0 50px 50px;
    border-bottom: none;
  }
  header .innerHeaderBottom .menu-btn {
    display: none;
  }
  header .innerHeaderBottom nav {
    display: inline;
    position: absolute;
    right: 0;
    top: 40%;
  }
  header .innerHeaderBottom ul {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    background: none;
    text-align: right;
  }
  header .innerHeaderBottom li {
    display: inline;
    margin: 0 auto;
    padding: 0;
  }
  header .innerHeaderBottom img {
    display: none;
  }
  header .innerHeaderBottom a {
    font-size: 1.5rem;
    transition: all 0.5S;
    padding: 1rem;
  }
  header .innerHeaderBottom a:hover {
    color: #206815;
    transition: 0.5S;
    padding: 1rem;
  }
  header .innerHeaderBottom .rezervace {
    font-weight: 700;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    position: relative;
  }
  header .innerHeaderTop {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 3rem;
  }
  header .innerHeaderTop a {
    transition: 0.5s;
    display: inline;
  }
  header .innerHeaderTop a:hover {
    transition: 0.5s;
    color: #acacac;
  }
  header .innerHeaderTop a img:last-child {
    margin-left: 1rem;
  }
  header .innerHeaderTop .innerHeaderTopTxt {
    position: absolute;
    top: 0.7rem;
    left: 0;
  }
  header .innerHeaderTop .lang-img {
    display: inline-block;
    width: auto;
    height: 3em;
    transition: 0.5s;
    cursor: pointer;
  }
  header .innerHeaderTop .lang-img:nth-child(2) {
    margin: 0 1rem;
  }
  header .innerHeaderTop .lang-img:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
  header .innerHeaderTop .lang-img-container {
    position: absolute;
    top: 0;
    right: 0;
  }
  header .innerHeaderBottomContainer {
    max-width: 1150px;
  }
  header .innerHeaderBottom {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 0;
    border-radius: 0 0 50px 50px;
    border-bottom: none;
  }
  header .innerHeaderBottom .menu-btn {
    display: none;
  }
  header .innerHeaderBottom nav {
    display: inline;
    position: absolute;
    right: 0;
    top: 40%;
  }
  header .innerHeaderBottom ul {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    background: none;
    text-align: right;
  }
  header .innerHeaderBottom li {
    display: inline;
    margin: 0 auto;
    padding: 0;
  }
  header .innerHeaderBottom img {
    display: none;
  }
  header .innerHeaderBottom a {
    font-size: 1.5rem;
    transition: all 0.5S;
    padding: 1rem 1rem;
  }
  header .innerHeaderBottom a:hover {
    color: #206815;
    transition: 0.5S;
  }
  header .innerHeaderBottom .rezervace {
    font-weight: 700;
  }
}
.content {
  min-height: 100vh;
  padding-top: 6rem;
}
.content .container {
  width: 30rem;
  margin: 0 auto;
  background-color: #3bbc26;
  border-radius: 70px;
  padding: 4rem;
}
