.content{
    min-height: 100vh;
    padding-top: 6rem;

    .container{
        width: 30rem;
        margin: 0 auto;
        background-color: $color-green;
        border-radius: 70px;
        padding: 4rem;
    }

}