.content-msg-sent {
}

.content-news-index {
    min-height: 100vh;
    padding: 6rem 0;

    .greyBox {
        @include createGreyBox();
    }

    .news-container {
        display: block;
        margin: 6rem auto;
        width: 100%;
        max-width: 1200px;
        background-color: $color-green;
        border-radius: 100px;
        padding: 5rem 3rem;

        .box {
            a {
                display: block;
                margin: 2rem auto;
                color: $color-font;
                text-decoration: none;
                text-align: center;
                font-size: 2.5rem;
                font-family: $font;
                font-weight: bold;
                transition: 1s ease;

                &:hover {
                    color: $color-font-hover;
                }
            }
        }

        table {
            width: 100%;
            margin: 0 auto;
        }

        tr {
            display: flex;
            justify-content: space-around;
            width: 80%;
            margin: 2rem auto;
            padding: 2rem 0;
            background-color: $color-grey;
            border-radius: 40px;
            font-family: $font;
            text-decoration: none;

            td {
                color: $color-font;

                a {
                    color: $color-font;
                    text-decoration: none;
                    transition: 1s ease;

                    &:hover {
                        color: $color-green;
                    }
                }
            }
        }
    }
}

.content-news-edit {
    min-height: 100vh;
    padding-top: 6rem;

    .container {
        width: 30rem;
        margin: 0 auto;
        background-color: $color-green;
        border-radius: 70px;
        padding: 4rem;
    }
}

.content-news-details,
.content-news-delete,
.content-news-create {
    min-height: 100vh;
    padding-top: 6rem;
}
