.content-chalupa {
    .main {
        width: 100%;
        font-family: $font;

        .greyBox {
            @include createGreyBox();
            transition: all .5s;

            &:hover {
                background-color: $grey-box-hover-color;
            }
        }

        img {
            width: $img-width;
            height: auto;
            margin: $element-spacing auto;
            display: block;
            border-radius: $img-border-radius;
        }

        .greenBox {
            @include createGreenBox();
            margin-bottom: $element-spacing;
        }
    }


    .news {
        font-family: $font;

        .greyBox {
            @include createGreyBox();
            transition: none;

            &:hover {
                background-color: black;
            }
        }


        .news-container {
            margin-top: 6rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;

            .box {
                @include createNewsBox();
                width: 80%;
                max-width: 18rem;
                margin: 0 2rem 3rem 2rem;

                h3,
                p {
                    padding: $news-box-text-spacing 0;
                }

                hr {
                    width: 15%;
                    border-bottom: 2px solid white;
                }
            }
        }
    }


    .galery {
        .greyBox {
            @include createGreyBox();
            transition: all .5s;

            &:hover {
                background-color: $grey-box-hover-color;
            }
        }


        img {
            max-width: $galery-img-width;
            width: auto;
            height: auto;
            margin: 3rem auto;
            display: block;
            border-radius: $img-border-radius;
            object-fit: cover;
        }
    }


    .contact {
        font-family: $font;

        .greyBox {
            @include createGreyBox();
            transition: all .5s;

            &:hover {
                background-color: $grey-box-hover-color;
            }
        }

        .contact-form {
            position: relative;
            width: 80%;
            max-width: 40rem;
            margin: 3rem auto 0 auto;
            padding: 1rem 1rem;
            background: $form-background;
            border-radius: 50px;
            text-align: center;

            .form-group {
                background: white;
                margin: 2rem 1rem;
                padding: 1rem 1rem;
                border-radius: 20px;

                label {
                    display: block;
                    text-align: left;
                    color: #333;
                    text-transform: uppercase;
                    font-size: 14px;
                }

                input,
                textarea {
                    font-family: $font;
                    color: rgb(94, 94, 94);
                    width: 100%;
                    border: none;
                    background: none;
                    outline: none;
                    font-size: .9rem;
                    margin-top: 6px;
                }
            }

            .greyBox {
                position: relative;
                width: 100%;
                background-color: $color-grey;

                &:hover {
                    background-color: $grey-box-hover-color;
                }

                .btn {
                    background: $color-grey;
                    font-family: $font;
                    font-size: 1.5rem;
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    border: none;
                    border-radius: 50px;
                    color: $form-background-text-area;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all .5s;
                }
            }
        }

        #map {
            z-index: 1;
            width: 80%;
            max-width: 80rem;
            height: 20rem;
            position: relative;
            margin: 3rem auto;
            border-radius: 60px;
            //box-shadow: 0 0 20px #000000b3;
        }
    }
}



//--------------------------------------Tablet----------------------------------------------------------------------------


@media only screen and (min-width: 768px) and (max-width: 992px) {
    .content-chalupa {
        .news {
            .news-container {

                .box1,
                .box2,
                .box3 {
                    width: 40%;
                }
            }
        }
    }
}


//--------------------------------------Laptop----------------------------------------------------------------------------


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .content-chalupa {
        padding-top: 2rem;

        .main {
            position: relative;
            margin-bottom: 12rem;

            img {
                position: relative;
                right: -15%;
                width: 70%;
            }

            .greyBox {
                width: 25rem;
                position: absolute;
                top: 10%;
                left: 0;
            }

            .greenBox {
                width: 25rem;
                position: absolute;
                top: 60%;
                left: 0;
            }
        }

        .news {
            .greyBox {
                width: 28%;
            }
        }

        .news-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .box1,
            .box2,
            .box3 {
                width: 30%;
                margin: 5rem 0;
            }
        }

        .contact {
            .greyBox {
                width: 20rem;
            }

            .contact-form {
                margin: 5rem auto;
            }
        }

        .galery {
            .greyBox {
                width: 20rem;
            }
        }

        .galery-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            img {
                width: 30%;
                cursor: pointer;
                margin: 5rem 0;
            }
        }
    }
}


//large devices - 1200px+
@media (min-width: 1200px) {
    .content-chalupa {
        padding-top: $element-spacing;

        #map {
            border-radius: 150px;
            height: 35rem;
        }

        .main {
            height: 40rem;
            max-width: 1200px;
            margin: 4rem auto 0 auto;
            position: relative;
            //background-color: yellow;

            img {
                position: relative;
                width: 65%;
                margin: 0 0 0 auto;
                z-index: 500;
            }

            .greyBox {
                width: 30rem;
                position: absolute;
                top: 2rem;
                z-index: 120;
            }

            .greenBox {
                width: 40%;
                height: 60%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
                border-radius: 110px;
                z-index: 700;

                p {
                    padding: 2rem;
                    font-size: 1.4rem;
                }
            }
        }

        .news {
            max-width: 1200px;
            margin: 2rem auto 4rem auto;

            .news-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .greyBox {
                width: 28%;
                margin-bottom: 3rem;
            }

            .box1,
            .box2,
            .box3 {
                width: 28%;
            }
        }

        .galery {
            max-width: 1200px;
            margin: 0 auto 4rem auto;

            .greyBox {
                width: 28%;
                margin-bottom: 3rem;
                transition: .5s;
                cursor: pointer;

                &:hover {
                    background: $grey-box-hover-color;
                    transition: .5s;
                }
            }

            .galery-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            img {
                width: 30%;
                cursor: pointer;
            }
        }

        .contact {
            max-width: 1200px;
            margin: 0 auto 8rem auto;

            .greyBox {
                width: 30%;
                transition: .5s;
                cursor: pointer;

                &:hover {
                    background: $grey-box-hover-color;
                    transition: .5s;
                }
            }

            .contact-form {
                margin: 6rem auto;
                padding: 5rem 3rem;
                border-radius: 110px;
                transition: .5s;

                .btn:hover {
                    background: $grey-box-hover-color;
                    transition: .5s;
                }
            }
        }
    }
}



    