// Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) and (max-width: 768px) {
    header {
        .innerHeaderTop {
            a {
                display: inline;

                &:last-child {
                    margin-left: 1rem;
                }
            }
        }

        .innerHeaderBottom {
            ul {
                top: 7.55rem;
            }
        }

        .innerHeaderBottomContainer {
            width: 100%;
            max-width: 80%;
        }
    }
}


//Laptop devices
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }
}


//Large devices
@media(min-width: 1200px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
    }
}

