// Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) and (max-width: 768px) {
    header {
        .innerHeaderTop {
            a {
                display: inline;

                &:last-child {
                    margin-left: 1rem;
                }
            }
        }

        .innerHeaderBottom {
            ul {
                top: 7.55rem;
            }
        }

        .innerHeaderBottomContainer {
            width: 100%;
            max-width: 80%;
        }
    }
}


// Medium devices (landscape tablets, 768px and up) //
@media only screen and (min-width: 768px) and (max-width: 992px) {
    header {
        .innerHeaderTop {
            a {
                display: inline;
            }
        }

        .innerHeaderBottom {
            ul {
                top: 7.55rem;
            }
        }

        .innerHeaderBottomContainer {
            width: 100%;
            max-width: 80%;
        }
    }
}


// Laptop devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    header {
        position: relative;

        .innerHeaderTop {
            max-width: 1200px;
            margin: 0 auto;
            position: relative;
            height: 3rem;

            a {
                transition: .5s;
                display: inline;

                &:hover {
                    transition: .5s;
                    color: $color-font-hover-top-header;
                }

                img {

                    &:last-child {
                        margin-left: 1rem;
                    }
                }
            }

            .innerHeaderTopTxt {
                position: absolute;
                top: .7rem;
                left: 0;
            }

            .lang-img {
                display: inline-block;
                width: auto;
                height: 3em;
                transition: .5s;
                cursor: pointer;

                &:nth-child(2) {
                    margin: 0 1rem;
                }

                &:hover {
                    opacity: .5;
                    transition: .5s;
                }
            }

            .lang-img-container {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .innerHeaderBottomContainer {
            max-width: 1000px;
        }

        .innerHeaderBottom {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            margin-bottom: 0;
            border-radius: 0 0 50px 50px;
            border-bottom: none;
            //border-left: $inner-header-border;
            //border-right: $inner-header-border;

            .menu-btn {
                display: none;
            }

            nav {
                display: inline;
                position: absolute;
                right: 0;
                top: 40%;
            }

            ul {
                height: auto;
                width: 100%;
                margin: 0 auto;
                display: block;
                position: absolute;
                top: 40%;
                left: 0;
                background: none;
                text-align: right;
            }

            li {
                display: inline;
                margin: 0 auto;
                padding: 0;
            }

            img {
                display: none;
            }

            a {
                font-size: 1.5rem;
                transition: all .5S;
                padding: 1rem;

                &:hover {
                    color: $color-dark-green;
                    transition: .5S;
                    padding: 1rem;
                }
            }

            .rezervace {
                font-weight: 700;
            }
        }
    }
}


// Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
    header {
        position: relative;

        .innerHeaderTop {
            max-width: 1200px;
            margin: 0 auto;
            position: relative;
            height: 3rem;

            a {
                transition: .5s;
                display: inline;

                &:hover {
                    transition: .5s;
                    color: $color-font-hover-top-header;
                }

                img {

                    &:last-child {
                        margin-left: 1rem;
                    }
                }
            }

            .innerHeaderTopTxt {
                position: absolute;
                top: .7rem;
                left: 0;
            }

            .lang-img {
                display: inline-block;
                width: auto;
                height: 3em;
                transition: .5s;
                cursor: pointer;

                &:nth-child(2) {
                    margin: 0 1rem;
                }

                &:hover {
                    opacity: .5;
                    transition: .5s;
                }
            }

            .lang-img-container {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .innerHeaderBottomContainer {
            max-width: 1150px;
        }

        .innerHeaderBottom {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            margin-bottom: 0;
            border-radius: 0 0 50px 50px;
            border-bottom: none;
            //border-left: $inner-header-border;
            //border-right: $inner-header-border;

            .menu-btn {
                display: none;
            }

            nav {
                display: inline;
                position: absolute;
                right: 0;
                top: 40%;
            }

            ul {
                height: auto;
                width: 100%;
                margin: 0 auto;
                display: block;
                position: absolute;
                top: 40%;
                left: 0;
                background: none;
                text-align: right;
            }

            li {
                display: inline;
                margin: 0 auto;
                padding: 0;
            }

            img {
                display: none;
            }

            a {
                font-size: 1.5rem;
                transition: all .5S;
                padding: 1rem 1rem;

                &:hover {
                    color: $color-dark-green;
                    transition: .5S;
                }
            }

            .rezervace {
                font-weight: 700;
            }
        }
    }
}
