@section css {
    <link href="@Url.Content("~/css/cz/cenik.css")" rel="stylesheet"/>
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chalupa Háj | Ceník";
}

<article class="cenik-container">

    <div class="cenik1">
        <div class="greyBox">
            <h2>Ceny za pronájem chalupy / noc</h2>
        </div>

        <div class="greenBox">

            <div>
                <p>Zimní sezóna<span>25.01.2020 - 17.03.2020, velikonoce</span><strong>3.750,- Kč</strong></p>
            </div>
            <hr>
            <div>
                <p>Letní sezóna<span>26.06.2020 - 30.08.2020</span><strong>4.000,- Kč</strong></p>
            </div>
            <hr>
            <div>
                <p>Mimo sezónu<span>pondělí - pátek</span><strong>2.500,- Kč</strong></p>
            </div>
            <hr>
            <div>
                <p>Víkend<span>pátek - neděle + svátky</span><strong>3.750,- Kč</strong></p>
            </div>
            <hr>
            <div>
                <p>Silvestr <span>min. 7 nocí</span><strong>6.000,- Kč</strong></p>
            </div>

        </div>
    </div>

    <div class="cenik2">
        <div class="greyBox">
            <h2>Další poplatky</h2>
        </div>

        <div class="greenBox">

            <div>
                <p>Domácí mazlíček <span>500,- Kč za celý pobyt</span></p>
            </div>
            <hr>
            <div>
                <p>přistýlka <span>11 až 12 osob</span> 250,- Kč za přistýlku / pobyt</p>
            </div>
            <hr>
            <div>
                <p>Zapůjčení povlečení 75,- Kč / sada</p>
            </div>
            <hr>
            <div>
                <p>Případná spotřeba dřev. briket 55,- Kč / 10 kg balík</p>
            </div>
            <hr>
            <div>
                <p>Závěrečný úklid 750,- Kč</p>
            </div>
            <hr>
            <div>
                <p>Při předání je potřeba uhradit vratnou kauci ve výši 3.000,- Kč</p>
            </div>
            <hr>
            <div>
                <p>
                    Po pobytu je vyúčtována skutečná spotřeba dřeva a závěrečný úklid, popř. další objednané
                    služby
                </p>
            </div>

        </div>
    </div>

    <div class="cenik3">
        <div class="greyBox">
            <h2>Storno podmínky</h2>
        </div>

        <div class="greenBox">

            <div>
                <p>29—22 dní před příjezdem <span>10% zůstatkové ceny pobytu</span></p>
            </div>
            <hr>
            <div>
                <p>21—15 dní před příjezdem <span>30% zůstatkové ceny pobytu</span></p>
            </div>
            <hr>
            <div>
                <p>14—08 dní před příjezdem <span>50% zůstatkové ceny pobytu</span></p>
            </div>
            <hr>
            <div>
                <p>100 % zálohové platby</p>
            </div>

        </div>
    </div>

</article>