@section css {
    <link href="@Url.Content("~/css/cz/index.css")" rel="stylesheet">
}

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chalupa Háj | Úvod";
    
}


<!--Content-->


<!--Main content-->
<div class="main">


    <!--Button reservation-->
    <div class="greyBox">
        <a asp-controller="cs" asp-action="rezervace">Rezervace</a>
    </div>


    <!--Main image-->
    <img src="~/images/chalupa1.jpg" alt="Chalupa Háj">


    <!--Main article-->
    <div class="greenBox">
        <p>
            Přijměte prosím naše pozvání do příjemných a útulných prostor naší chalupy. Ať k nám zavítáte na
            jednu či více nocí, věříme, že se u nás budete cítit jako doma. Nabízíme Vám pohodlně vybavené
            pokoje, společenskou místnost s kulečníkem, krbem, barem a výčepním zařízením a s dětským koutkem.
        </p>
    </div>


</div>


<!--Renders view component - news content-->


@await Component.InvokeAsync("News")


<!--Galery Content-->
<div class="galery">


    <!--Galery header-->
    <div class="greyBox">
        <a asp-controller="cs" asp-action="galerie">Galerie</a>
    </div>


    <!--Galery container-->
    <div class="galery-container">

        <!--exterior-->
        <img src="~/images/exterier/11.jpg" alt="Chalupa Háj">

        <!--interior-->
        <img src="~/images/interier/09.jpeg" alt="Chalupa Háj">

        <!--surroundings-->
        <img src="~/images/chalupa3.jpg" alt="Chalupa Háj">

    </div>

</div>


<!--Contact content-->
<div class="contact">


    <!--Contact header-->
    <div class="greyBox">
        <a asp-controller="Cs" asp-action="kontakt">Kontakt</a>
    </div>


    <!--Render view component with contact us form-->
    @await Component.InvokeAsync("ContactUsForm")


    <!--map with location from google maps-->
    <div id="map"></div>

</div>

