@section css {
    <link href="@Url.Content("~/css/cz/odeslano.css")" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Zpráva byla úspěšně odeslána!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main">


    <div class="greyBox">
        <a asp-controller="Home" asp-action="Index">Chalupa Háj</a>
    </div>



    <article class="greenBox">
        <p>
            @ViewBag.SendedFormType
        </p>
    </article>


</section>

