@section css {
    <link href="@Url.Content("~/css/cz/okoli.css")" rel="stylesheet" />
}

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chalupa Háj | Okolí";

}
<h1>Okolí</h1>