//--------------------------------------Tablet----------------------------------------------------------------------------


@media only screen and (min-width: 768px) and (max-width: 992px) {
    .news-container {

        .box1,
        .box2,
        .box3 {
            width: 40%;
        }
    }
}


//--------------------------------------Laptop----------------------------------------------------------------------------


@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .content {
        padding-top: 2rem;
    }

    .main {
        position: relative;
        margin-bottom: 12rem;

        img {
            position: relative;
            right: -15%;
            width: 70%;
        }

        .greyBox {
            width: 25rem;
            position: absolute;
            top: 10%;
            left: 0;
        }

        .greenBox {
            width: 25rem;
            position: absolute;
            top: 60%;
            left: 0;
        }
    }

    .news {
        .greyBox {
            width: 28%;
        }
    }

    .news-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .box1,
        .box2,
        .box3 {
            width: 30%;
            margin: 5rem 0;
        }
    }

    .contact {
        .greyBox {
            width: 20rem;
        }

        .contact-form {
            margin: 5rem auto;
        }
    }

    .galery {
        .greyBox {
            width: 20rem;
        }
    }

    .galery-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        img {
            width: 30%;
            cursor: pointer;
            margin: 5rem 0;
        }
    }
}


//--------------------------------------Large----------------------------------------------------------------------------


@media (min-width: 1200px) {
    .content {
        padding-top: $element-spacing;

        #map {
            border-radius: 150px;
            height: 35rem;
        }
    }



    .main {
        height: 40rem;
        max-width: 1200px;
        margin: 4rem auto 0 auto;
        position: relative;
        //background-color: yellow;

        img {
            position: relative;
            width: 65%;
            margin: 0 0 0 auto;
            z-index: 500;
        }

        .greyBox {
            width: 30rem;
            position: absolute;
            top: 2rem;
            z-index: 120;
        }

        .greenBox {
            width: 40%;
            height: 60%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            border-radius: 110px;
            z-index: 700;

            p {
                padding: 2rem;
                font-size: 1.4rem;
            }
        }
    }

    .news {
        max-width: 1200px;
        margin: 2rem auto 4rem auto;

        .news-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .greyBox {
            width: 28%;
            margin-bottom: 3rem;
        }

        .box1,
        .box2,
        .box3 {
            width: 28%;
        }
    }

    .galery {
        max-width: 1200px;
        margin: 0 auto 4rem auto;

        .greyBox {
            width: 28%;
            margin-bottom: 3rem;
            transition: .5s;
            cursor: pointer;

            &:hover {
                background: $grey-box-hover-color;
                transition: .5s;
            }
        }

        .galery-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        img {
            width: 30%;
            cursor: pointer;
        }
    }

    .contact {
        max-width: 1200px;
        margin: 0 auto 8rem auto;

        .greyBox {
            width: 30%;
            transition: .5s;
            cursor: pointer;

            &:hover {
                background: $grey-box-hover-color;
                transition: .5s;
            }
        }

        .contact-form {
            margin: 6rem auto;
            padding: 5rem 3rem;
            border-radius: 110px;
            transition: .5s;

            .btn:hover {
                background: $grey-box-hover-color;
                transition: .5s;
            }
        }
    }
}
