@{
}

<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Chalupa Haj">
    <meta name="application-name" content="Chalupa Haj">
    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" />
    @RenderSection("css", false)
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../../icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../icon/favicon-16x16.png">
    <link rel="manifest" href="../../icon/site.webmanifest">
    <link rel="mask-icon" href="../../icon/safari-pinned-tab.svg" color="#39843b">
    <script src="js/modernizr/modernizr.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://kit.fontawesome.com/97f8fd629e.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>

        <!--grey-top-part-of-header-->
        <div class="innerHeaderTop">
            <div class="innerHeaderBottomContainer">
                <div class="innerHeaderTopTxt">
                    <a href="tel:+420 721 046 446"><img src="~/images/phone.png" alt="telefon">+420 721 046 446</a>
                    <a href="mailto: info@chalupa-haj.cz"><img src="~/images/mail.png" alt="email">info@chalupa-haj.cz</a>
                </div>
                <div class="lang-img-container">
                    <a asp-controller="Home" asp-action="Index"><img class="lang-img" src="~/images/cz.png" alt="cz" /></a>
                    <a asp-controller="En" asp-action="Index"><img class="lang-img" src="~/images/en.png" alt="en" /></a>
                    <img class="lang-img" src="~/images/de.png" alt="de" />
                </div>
            </div>
        </div>

        <!--green-bottom-part-of-header-->
        <div class="innerHeaderBottom">
            <div class="innerHeaderBottomContainer">
                <!--web title-->
                <div class="greyBox">
                    <h2>Chalupa Háj</h2>
                </div>

                <!--menu button-->
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <spann class="menu-btn">
                        <spann class="menu-btn__burger"></spann>
                    </spann>
                </label>

                <!--navigation menu-->
                <nav>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index"><img src="~/images/cz.png" alt="cz" /></a>
                            <a asp-controller="En" asp-action="Index"><img src="~/images/en.png" alt="en" /></a>
                            <img src="~/images/de.png" alt="de" />
                        </li>
                        <li><a asp-controller="Home" asp-action="Index">Chalupa</a></li>
                        <li><a asp-controller="Home" asp-action="Okoli">Surroundings</a></li>
                        <li><a asp-controller="Home" asp-action="Galerie">Galery</a></li>
                        <li><a asp-controller="Home" asp-action="Cenik">Price list</a></li>
                        <li><a asp-controller="Home" asp-action="Kontakt">Contact</a></li>
                        <li><a asp-controller="Home" asp-action="Rezervace">Reservation</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>

    <section class="content">
        @RenderBody();
    </section>
    
    <footer>
        <div class="footer-container">

            <article>
                <h3>Chalupa Háj <span>***</span></h3>
                <address>Háj 17, 356 01 Jindřichovice<br>Česká republika</address>
            </article>

            <article>
                <h3>Contact</h3>
                <a href="mailto: info@chalupa-haj.cz">info@chalupa-haj.cz</a>
                <a href="tel: +420721046446">+420 721 046 446</a>
                <a href="tel: +420728979036">+420 728 979 036</a>
            </article>

            <article>
                <h3>Social Networks</h3>
                <div class="social-container">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/ChalupaHaj">
                                <i class="fab fa-facebook-f icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </article>
        </div>
        <div class="copy">
            <p>&copy <span id="copyright"> 2020 </span> Chalupa Háj</p>
        </div>
    </footer>

    <!--import script for menu icon animation-->
    <script src="~/js/button_animation.js"></script>

    <script>
        function initMap() {
            var chalupa = {
                lat: 50.254917,
                lng: 12.605003
            };
            var map = new google.maps.Map(
                document.getElementById('map'), {
                    zoom: 14,
                    center: chalupa
                });
            var marker = new google.maps.Marker({
                position: chalupa,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7sui47va04WfTRA5ddW9K35ttoBUn-nY&callback=initMap">
    </script>

    <script src="~/js/current year.js"></script>
</body>


</html>